# Build output
dist/
# Generated types
.astro/
# Lighthouse CI reports
.lighthouseci/

# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.*
.env.production
!.env.example

# macOS
.DS_Store

# TypeScript
*.tsbuildinfo

# Editor
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
*.suo
*.sw?
