---
export interface Props {
  id?: string;
  padded?: boolean;
  class?: string;
}

const { id, padded = true, class: className = "" } = Astro.props;
---

<section id={id} class={`w-full ${padded ? "py-24" : ""} ${className}`}>
  <slot />
</section>
